/*
* The Flexible Box Layout Module:
*   makes it easier to design one-directional flexible responsive layout structures without using float or positioning.
*
* The Grid Layout Module:
*   is the very first CSS module created specifically to be a two-dimensional grid-based layout system.
*/
body {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue;
}

main {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

main article {
  display: flex;
  flex-direction: row;
  width: 70%;
  background-color: lightgreen;
  /* 
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    align-content: flex-end; 
    height: 500px; 
    gap: 20px 40px;
  */
}

main article div {
  border: solid 4px fuchsia;
  padding: 10px;
  width: 300px;
  box-sizing: border-box;
}

.item-1 {
  flex-shrink: 1;
}

.item-2 {
  flex-shrink: 2;
}

.item-3 {
  flex-shrink: 1;
}

main aside {
  background-color: lightgoldenrodyellow;
  display: inline-block;
}

footer {
  background-color: lightcoral;
}

@media only screen and (min-width: 380px) {

  .item-1 { 
    order: 1;
  }
  
  .item-2 {
    order: 2;
  }
  
  .item-3 {
    order: 3;
  }

}