body {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

main {
  background-color: blue;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  gap: 10px;
}

.item-1 {
  background: lightcoral;
  grid-column: 2/span 2;
  grid-row: 1;
}

.item-2 {
  background: lightcyan;
}

.item-3 {
  background: lightgray;
  grid-row: 1/span 3;
}

.item-4 {
  background: lightgreen;
}

.item-5 {
  background: lightgoldenrodyellow;
  grid-column: 2/span 2;
}