/*
* The Flexible Box Layout Module:
*   makes it easier to design one-directional flexible responsive layout structures without using float or positioning.
*
* The Grid Layout Module:
*   is the very first CSS module created specifically to be a two-dimensional grid-based layout system.
*/
body {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue;
}

main {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

main article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* 
  align-items: flex-end;
  justify-content: space-around;
  align-content: flex-end; 
  height: 500px; 
  */
  width: 70%;
  gap: 20px 40px;
  background-color: lightgreen;
}

main article div {
  width: 100px;
  border: solid 4px fuchsia;
}

main aside {
  background-color: lightgoldenrodyellow;
  display: inline-block;
}

footer {
  background-color: lightcoral;
}